{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
    },
    "plugins": [
      "@typescript-eslint",
      "react-hooks"
    ],
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    },
    "ignorePatterns": [
      "**/node_modules",
      "**/dist"
    ],
    "rules": {
      "no-useless-escape": "off",
      "react/react-in-jsx-scope": "off",
      "react/prop-types": "off",
      "react/display-name" : "off"
    }
  }
  